[submodule "microsservices/temperature-monitoring"]
	path = microsservices/temperature-monitoring
	url = https://github.com/zkauansantos/ems-sensors-temperature-monitoring
[submodule "microsservices/temperature-processing"]
	path = microsservices/temperature-processing
	url = https://github.com/zkauansantos/ems-sensors-temperature-processing
[submodule "microsservices/device-management"]
	path = microsservices/device-management
	url = https://github.com/zkauansantos/ems-sensors-device-management
